/*Body and Titles Styles*/
body, h1, h2, h3
{
	font-family: "Lobster", serif;
}

.flex_container
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.target {
    float: left;
    width: 210px;
    height: 210px;
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
}

h1, p
{
	color: tan;
}

h2, label, span.w3-large
{
	color: brown;
}

/*Slideshow Styles*/
.slideshow
{
	display: none;
	width: 95%;
	height: 360px;
}

/*Input Styles*/
#campo
{
	width: 23%;
}

/*Button Styles*/
.button
{
	margin-bottom: 2%;
}

#boton_final
{
	margin-bottom: 2%;
}

/*Avatar Styles*/
#avatar
{
	width: 85px;
}

/*Navigation Styles*/
#barra
{
	/*height: 5%;*/
	width: 100%;
	/*position: fixed;*/
}

#links_barra
{
	width: 20%;
}

/*Table Styles*/
li:hover:nth-child(odd)
{
	background-color: #FFDD8E;
}

li:hover:nth-child(even)
{
	background-color: #CCFCDD;
}

/*Modal Styles*/
#modal_card
{
	max-width: 500px;
}

#modal_avatar
{
	width: 30%;
	margin-top: 4%;
}

/*Images drag and drop Styles*/
div.container
{
    position: absolute;
    z-index: 9;
    background-color: transparent;
    text-align: center;
}

div.image
{
	padding: 10px;
    cursor: move;
    z-index: 10;
}
